.container {
  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: column;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    & section {
      margin-top: 20px;
    }
  }
}
